/***** FEUILLET STYLE.CSS - CV BOOTSTRAP BD  *****/
/*************************************************/ 

/***** Typographie responsive Bootstrap *****/

*{
    font-size: 1.25rem;
    margin: auto;
    padding : auto;
}

h1{
    font-family: 'Press Start 2P', cursive;
}
    
h2{
    font-family: 'Bree Serif', serif;   
}

p, a{
    font-family: 'Spectral', serif;
}
 
.container-fluid{
    background-image: url(https://i.imgur.com/cLjbgbA.jpg) center fixed no-repeat;
    background-size: cover;
}
  

/***** Media Queries Breakpoints Bootstrap *****/

/***** Small devices (landscape phones, 576px and up) *****/
@media (min-width: 576px) { ... }

/***** Medium devices (tablets, 768px and up) *****/
@media (min-width: 768px) { ... }

/***** Large devices (desktops, 992px and up) *****/
@media (min-width: 992px) { ... }

/***** Extra large devices (large desktops, 1200px and up) *****/
@media (min-width: 1200px) { ... }